* {
  outline: 0 !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #848484;
  padding-left: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #848484;
  padding-left: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #848484;
  padding-left: 15px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #848484;
  padding-left: 15px;
}

body {
	margin: 0 auto;
	min-width: 320px;
	font-family: sans-serif;
}

header {
	height: 100vh;
	background-image: url(../img/tea-bg.jpg);
  	background-repeat: no-repeat;
  	background-position: 85% 315px;
  	background-size: 300px 217px;
}

header, section {
	margin: 0 50px;
	padding: 0 0 200px;
	max-width: 1200px;
}

footer {
	background: url(../img/bg-title.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	max-width: 1349px;
  	margin: 0 auto;
  	padding: 5px 0 50px;
}

a {
	text-decoration: none;
	color: #000;
	transition: all 0.5s;
}

ul li {
	list-style: none;
}

i {
	padding-right: 20px;
}

abbr {
	cursor: help;
	font-weight: bold;
}

.call-center {
	padding-left: 75px;	
}

.title {
	width: 30%;
	margin: 0 auto;
}
.title-color {
	color: #c8913d;
}

/* Title H*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;	
}
h1 {
	font-size: 70px;
	text-align: right;
	padding-top: 100px;	
}
h2 {
	padding-top: 20px;
}
.h2 {
	margin-top: 45px;
}
h4 {
	font-size: 18px;
	width: 90px;
	transition: all 0.5s;
}
.h4 {
	margin: 20px 0 0 145px;
}
.h4:hover {
	padding-bottom: 15px;
	border-bottom: 2px solid #c8913d;
	cursor: default;
}
h5 {
	font-family: Gabriola, Arial;
	font-size: 21px;	
	margin-top: -30px;	
	-moz-user-select: none;
	user-select: none;
}
h6 {
	font-size: 30px;
	text-align: right;
}
/*----------------------*/

button {
	margin-top: 30px;
	cursor: pointer;
	color: #fff;
	background: #615b5f;
	transition: all 0.5s;
	width: 150px;
	padding: 10px 0;
	border-radius: 5px;
	margin: 20px 0 50px 145px;
	box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.5);
}

button:hover {
	color: #eeac0b;
}
button:active {
	box-shadow: none;
}

/* Flex*/
.flex-s-beetwen {
	justify-content: space-between;
}
.flex-grow {
	flex-grow: 1;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.align-it-center {
	align-items: center;
}
.flex-direction {
	flex-direction: row;
}
/*----------------------*/

.nav {
	width: 100%;
}

.nav-menu {
	justify-content: flex-end;
}

.logo>img {
	width: 170px;
	height: 170px;
}

.logo {
	position: relative;
}

.chamomile {
	position: absolute;
	top: 460px;
	left: 50px;
}

nav>ul>li {
	padding-left: 40px;
	font-weight: bold;
}

nav>ul>li>a:hover {
	border-bottom: 2px solid #eeac0b;
	color: #eeac0b;
	padding-bottom: 15px;
}

/*first section*/
.description-products {
	width: 50%;
}

.img-about-tea {
	background-image: url(../img/description-products.jpg);
	background-repeat: no-repeat;
  	background-position: 0% 0%;
  	background-size: 400px 266px;
  	width: 50%;
}

/*Second section*/
.products-section {
	width: 100%;
}
.wholesale, .retail {
	width: 50%;
	margin: 0 auto;
}

.wholesale img {
	width: 400px;
	height: 400px;
}

.products-wholesale, .products-retail {
	margin: 0 auto;
	width: 50%;
}

.retail img {
	width: 327px;
	height: 400px;
}

/*Third section*/
.dried-chamomile {
	background-image: url(../img/dried-chamomile.jpg);
	background-repeat: no-repeat;
  	background-position: 230% 150px;
  	background-size: 400px 266px;
  	width: 80%;
	height: 400px;
	margin-top: 16px;
}

/*Footer*/
form .flex p {
	color: #b42727;
}

form {
	margin-top: 50px;
	position: relative;
}

.alone-romash {
	position: absolute;
	top: -25px;
	left: -25px;
	z-index: 999;
	width: 70px;
	height: 70px;
}

.form-contacts {
	margin: 140px auto 0;
	max-width: 510px;
	height: 508px;
	background: rgba( 130, 170, 179, 0.58);
	text-align: center;
	border-radius: 10px; 
}

.form-contacts h2 {
	letter-spacing: 1px;
}

.form-contacts p {
	color: #333;
	margin-bottom: 20px;
}

.form-contacts input, .form-contacts .button-input {
	width: 450px;
	height: 60px;
	border-radius: 3px;
	border: 0;
	margin-top: 20px;
}

.form-contacts .button-input {
	margin: 20px;
}

.form-contacts .button-input {
	padding: 23px 207px 21px;
}

.lock-display {
	font-size: 12px;
    color: #36aeea;
    padding-top: 5px;
}

.fa-lock {
	padding-top: 10px;
	padding: 19px 10px 0 32px;
	color: #b42727;
}

.call-center {
	font-weight: bold;
	width: 540px;
	padding-top: 80px;
}

.call-center span {
	font-size: 22px;
}